@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  h1 {
    @apply text-5xl font-semibold mb-2;
  }

  h2 {
    @apply text-3xl font-semibold mb-2;
  }

  h3 {
    @apply text-xl font-semibold mb-2;
  }

  h1, h2, h3 {
    + p {
      @apply pb-4;
    }
  }

  body {
    @apply text-base text-teal-900;
  }

  input, select, textarea {
    @apply border-teal-700 rounded-md border-2 p-2;
    @apply disabled:bg-gray-200;
  }


  input.xs {
    @apply p-1;
  }

}
@layer components {

  .card {
    @apply bg-white;
    @apply shadow-lg shadow-gray-400 border border-gray-100 rounded-xl;
    @apply m-4 p-4;
  }

  .btn {
    @apply bg-teal-700 text-teal-50 rounded-md p-4;
    @apply hover:bg-teal-600;
    @apply disabled:bg-teal-500 disabled:text-teal-200;
  }

  .btn-dark {
    @apply bg-teal-900;
    @apply hover:bg-teal-800;
    @apply disabled:bg-teal-500 disabled:text-teal-200;
  }

  .btn-warning {
    @apply bg-red-700;
    @apply hover:bg-red-600;
    @apply disabled:bg-red-300 disabled:text-red-100;
  }

  .btn-outline {
    @apply bg-teal-50 text-teal-700;
    @apply hover:bg-teal-600 hover:text-teal-50;
    @apply disabled:bg-gray-100 disabled:text-gray-200;
  }
  
  .btn-sm {
    @apply p-2;
  }

  .btn-xs {
    @apply p-1;
  }
  
}